In [ ]:
import pandas as pd
from my_utils_copy import *
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import numpy as np
import seaborn as sns

In [16]:
df = get_rawdata('IRON')

get summonerId....

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:05<00:00,  1.48s/it]

get puuId.....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:17<00:00,  1.45s/it]

get match_id....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:19<00:00,  1.62s/it]

get matches & timeline....

100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:54<00:00,  3.17s/it]

In [3]:
df

,match_id,matches,timelines
0,KR_6694267493,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6693600999,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6693535406,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6874568037,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6874514606,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
5,KR_6867477992,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
6,KR_6619682453,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
7,KR_6613797597,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
8,KR_6613739495,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
9,KR_6880793100,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
10,KR_6877618300,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
11,KR_6864713950,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
12,KR_6878996487,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
13,KR_6867912838,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
14,KR_6867886820,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
15,KR_6727182832,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
16,KR_6727148715,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
17,KR_6633941740,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
18,KR_6881538936,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
19,KR_6881468971,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
20,KR_6881387025,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
21,KR_6831109452,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
22,KR_6831053192,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
23,KR_6732181683,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
24,KR_6855553762,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
25,KR_6829672021,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
26,KR_6703375776,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
27,KR_6741437337,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
28,KR_6718260706,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
29,KR_6716367334,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
30,KR_6864324171,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
31,KR_6733290491,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
32,KR_6647227681,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
33,KR_6881553849,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
34,KR_6876478703,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
35,KR_6871031309,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

In [4]:
df_BRONZE = get_rawdata('BRONZE')

get summonerId....

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:05<00:00,  1.38s/it]

get puuId.....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:15<00:00,  1.30s/it]

get match_id....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:15<00:00,  1.28s/it]

get matches & timeline....

100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:44<00:00,  2.90s/it]

In [5]:
df_BRONZE

,match_id,matches,timelines
0,KR_6840959891,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6835156351,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6835144419,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6880409382,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6880338340,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
5,KR_6880287550,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
6,KR_6878719360,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
7,KR_6878630557,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
8,KR_6867368643,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
9,KR_6876407080,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
10,KR_6876368636,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
11,KR_6874763019,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
12,KR_6879929614,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
13,KR_6879910041,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
14,KR_6879856456,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
15,KR_6871672429,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
16,KR_6868226684,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
17,KR_6867243551,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
18,KR_6680065451,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
19,KR_6678604910,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
20,KR_6678489601,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
21,KR_6876971699,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
22,KR_6876912111,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
23,KR_6876841161,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
24,KR_6878321469,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
25,KR_6868122526,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
26,KR_6868095418,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
27,KR_6786581474,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
28,KR_6698250752,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
29,KR_6678291737,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
30,KR_6610909259,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
31,KR_6610853301,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
32,KR_6610787208,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
33,KR_6828164648,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
34,KR_6827779622,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
35,KR_6827686583,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

In [6]:
df_SILVER = get_rawdata('SILVER')

get summonerId....

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:04<00:00,  1.21s/it]

get puuId.....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:15<00:00,  1.28s/it]

get match_id....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:17<00:00,  1.44s/it]

get matches & timeline....

100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:47<00:00,  2.98s/it]

In [7]:
df_SILVER

,match_id,matches,timelines
0,KR_6870426833,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6870399035,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6870312386,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6876935279,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6799642794,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
5,KR_6799580965,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
6,KR_6879711812,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
7,KR_6879671405,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
8,KR_6879635625,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
9,KR_6753731397,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
10,KR_6753693692,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
11,KR_6752717487,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
12,KR_6874025760,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
13,KR_6873983144,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
14,KR_6873931206,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
15,KR_6881683339,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
16,KR_6881659086,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
17,KR_6881597678,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
18,KR_6880895501,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
19,KR_6880821115,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
20,KR_6880752134,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
21,KR_6880707207,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
22,KR_6880642221,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
23,KR_6878689551,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
24,KR_6775024013,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
25,KR_6774838043,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
26,KR_6773777250,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
27,KR_6876121742,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
28,KR_6876103171,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
29,KR_6876062901,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
30,KR_6881872516,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
31,KR_6881860757,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
32,KR_6872401554,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
33,KR_6879915789,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
34,KR_6879908402,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
35,KR_6878306818,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

In [8]:
df_GOLD = get_rawdata('GOLD')

get summonerId....

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:05<00:00,  1.42s/it]

get puuId.....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:15<00:00,  1.29s/it]

get match_id....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:15<00:00,  1.31s/it]

get matches & timeline....

100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:21<00:00,  2.27s/it]

In [9]:
df_GOLD

,match_id,matches,timelines
0,KR_6850206988,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6850137555,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6849001485,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6849480899,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6849432896,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
5,KR_6848182126,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
6,KR_6875226348,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
7,KR_6875173799,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
8,KR_6873153875,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
9,KR_6875225761,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
10,KR_6875164432,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
11,KR_6875096173,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
12,KR_6860741116,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
13,KR_6860717724,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
14,KR_6860723012,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
15,KR_6771861481,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
16,KR_6771766577,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
17,KR_6654625391,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
18,KR_6735081107,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
19,KR_6720542881,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
20,KR_6720506241,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
21,KR_6881591192,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
22,KR_6879642787,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
23,KR_6879564794,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
24,KR_6815440675,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
25,KR_6815388681,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
26,KR_6783137876,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
27,KR_6839806723,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
28,KR_6839704856,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
29,KR_6839630353,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
30,KR_6878641631,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
31,KR_6878577644,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
32,KR_6877794810,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
33,KR_6857154461,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
34,KR_6857120443,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
35,KR_6857078673,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

In [10]:
df_PLATINUM = get_rawdata('PLATINUM')

get summonerId....

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:04<00:00,  1.12s/it]

get puuId.....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:12<00:00,  1.00s/it]

get match_id....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:11<00:00,  1.01it/s]

get matches & timeline....

100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:19<00:00,  2.22s/it]

In [11]:
df_PLATINUM

,match_id,matches,timelines
0,KR_6881830311,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6881819781,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6849608558,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6881712272,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6881665648,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
5,KR_6881606232,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
6,KR_6879921878,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
7,KR_6879882705,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
8,KR_6879838822,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
9,KR_6862418429,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
10,KR_6829087446,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
11,KR_6829042318,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
12,KR_6786885354,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
13,KR_6786810744,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
14,KR_6786738564,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
15,KR_6870351381,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
16,KR_6870297957,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
17,KR_6870269213,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
18,KR_6865331583,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
19,KR_6865246398,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
20,KR_6864792616,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
21,KR_6877459101,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
22,KR_6877314852,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
23,KR_6877210819,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
24,KR_6742963585,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
25,KR_6742896721,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
26,KR_6741692753,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
27,KR_6715315507,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
28,KR_6703070781,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
29,KR_6702973522,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
30,KR_6854359191,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
31,KR_6854290578,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
32,KR_6854249660,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
33,KR_6849557405,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
34,KR_6849520062,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
35,KR_6849457881,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

In [12]:
df_EMERALD = get_rawdata('EMERALD')

get summonerId....

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:04<00:00,  1.06s/it]

get puuId.....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:12<00:00,  1.02s/it]

get match_id....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:12<00:00,  1.01s/it]

get matches & timeline....

100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:24<00:00,  2.34s/it]

In [13]:
df_EMERALD

,match_id,matches,timelines
0,KR_6881841705,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6865771813,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6826337095,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6806658814,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6806606920,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
5,KR_6806567736,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
6,KR_6659993254,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
7,KR_6659929923,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
8,KR_6659882904,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
9,KR_6879768123,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
10,KR_6879694942,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
11,KR_6879628709,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
12,KR_6881748416,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
13,KR_6881731091,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
14,KR_6881702475,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
15,KR_6881224219,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
16,KR_6881107331,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
17,KR_6881001678,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
18,KR_6872496359,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
19,KR_6872417702,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
20,KR_6872345207,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
21,KR_6881151971,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
22,KR_6881069048,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
23,KR_6880960163,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
24,KR_6756335105,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
25,KR_6756296168,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
26,KR_6756238976,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
27,KR_6873676806,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
28,KR_6863342849,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
29,KR_6863260086,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
30,KR_6824995488,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
31,KR_6824965928,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
32,KR_6824967207,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
33,KR_6815897976,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
34,KR_6814213279,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
35,KR_6814157909,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

In [14]:
df_DIAMOND = get_rawdata('DIAMOND')

get summonerId....

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:04<00:00,  1.07s/it]

get puuId.....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:11<00:00,  1.01it/s]

get match_id....

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:12<00:00,  1.03s/it]

get matches & timeline....

100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:39<00:00,  2.78s/it]

In [15]:
df_DIAMOND

,match_id,matches,timelines
0,KR_6832252571,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,KR_6829592268,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,KR_6818432121,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,KR_6874529490,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,KR_6874510129,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
5,KR_6873859309,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
6,KR_6871909372,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
7,KR_6870662630,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
8,KR_6870541720,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
9,KR_6879813144,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
10,KR_6879777547,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
11,KR_6879746317,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
12,KR_6879109921,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
13,KR_6878930184,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
14,KR_6878806427,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
15,KR_6856569008,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
16,KR_6856550621,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
17,KR_6856511401,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
18,KR_6857667836,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
19,KR_6857657293,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
20,KR_6857633441,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
21,KR_6843104381,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
22,KR_6830833206,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
23,KR_6830815385,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
24,KR_6873652250,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
25,KR_6873558579,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
26,KR_6873460619,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
27,KR_6880004860,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
28,KR_6879998325,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
29,KR_6879989101,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
30,KR_6874164154,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
31,KR_6874127717,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
32,KR_6874099680,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
33,KR_6876991705,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
34,KR_6872316906,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
35,KR_6872269113,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

In [208]:
query_mysql = """
create table lol_datas_DIAMOND(gameId varchar(30), gameDuration int, allInPings int, assistMePings int, baitPings int,basicPings int,commandPings int,dangerPings int,enemyMissingPings int, getBackPings int,holdPings int, needVisionPings int, onMyWayPings int,pushPings int, visionClearedPings int ,summonerName varchar(50),
summonerLevel int, participantId int, championName varchar(50), champExperience int,
teamPosition varchar(50), teamId int, win varchar(50), kills int, deaths int, assists int,
totalDamageDealtToChampions int ,totalDamageTaken int, g_2 int, g_3 int, g_4 int, g_5 int,g_6 int,g_7 int,
g_8 int,g_9 int,g_10 int,g_11 int,g_12 int,g_13 int,g_14 int,
g_15 int,g_16 int,g_17 int,g_18 int,g_19 int,g_20 int, Sum_Selected int, tier varchar(10)
)
"""

In [209]:
conn = connect_mysql()

In [210]:
sql_execute(conn,query_mysql)

()

In [ ]:
df.iloc[0].matches['info']['participants']

In [59]:
df.iloc[i].timelines['info']['frames'][2]['participantFrames'][str(9)]['totalGold']

584

In [4]:
def lane_processing(tower_lane, tower_team, lane, team):
    if (tower_lane[0] == lane[0]) and (tower_team == team):
        return 1
    else:
        return 0

In [5]:
def assi_calc(y):
    try:
        return ','.join(list(map(lambda x: str(x), y['assistingParticipantIds'])))
    except:
        return ''

In [39]:
def insert_matches_timeline_mysql(row,conn):
    # lambda를 이용해서 progress_apply를 통해 insert할 구문 만들기
    query = (
             f'insert into lol_datas_IRON(gameId, gameDuration, gameVersion, summonerName, summonerLevel, participantId,'
             f'championName, champExperience, teamPosition, teamId, win, kills, deaths, assists,'
             f'totalDamageDealtToChampions, totalDamageTaken, g_5, g_6, g_7, g_8, g_9, g_10, g_11, g_12 ,g_13,g_14,'
             f'g_15, g_16, g_17, g_18, g_19, g_20, g_21, g_22, g_23, g_24, g_25)'
             f'values(\'{row.gameId}\',{row.gameDuration}, \'{row.gameVersion}\', \'{row.summonerName}\','
             f'{row.summonerLevel}, {row.participantId},\'{row.championName}\',{row.champExperience},'
             f'\'{row.teamPosition}\', {row.teamId}, \'{row.win}\', {row. kills}, {row.deaths}, {row.assists},'
             f'{row.totalDamageDealtToChampions},{row.totalDamageTaken},{row.g_5},{row.g_6},{row.g_7},{row.g_8},'
             f'{row.g_9},{row.g_10},{row.g_11},{row.g_12},{row.g_13},{row.g_14},{row.g_15},{row.g_16},{row.g_17},'
             f'{row.g_18},{row.g_19},{row.g_20},{row.g_21},{row.g_22},{row.g_23},{row.g_24},{row.g_25})'
             f'ON DUPLICATE KEY UPDATE '
             f'gameId = \'{row.gameId}\', gameDuration = {row.gameDuration}, gameVersion = \'{row.gameVersion}\', summonerName= \'{row.summonerName}\','
             f'summonerLevel = {row.summonerLevel},participantId = {row.participantId},championName = \'{row.championName}\','
             f'champExperience = {row.champExperience}, teamPosition = \'{row.teamPosition}\', teamId = {row.teamId},win = \'{row.win}\','
             f'kills = {row. kills}, deaths = {row.deaths}, assists = {row.assists}, totalDamageDealtToChampions = {row.totalDamageDealtToChampions},'
             f'totalDamageTaken = {row.totalDamageTaken},g_5 = {row.g_5},g_6 = {row.g_6},g_7 = {row.g_7},g_8 = {row.g_8},g_9 = {row.g_9},'
             f'g_10 = {row.g_10},g_11 = {row.g_11},g_12 = {row.g_12},g_13 = {row.g_13},g_14 = {row.g_14},g_15 = {row.g_15},g_16 = {row.g_16},g_17 = {row.g_17},'
             f'g_18 = {row.g_18},g_19 = {row.g_19},g_20 = {row.g_20},g_21 = {row.g_21},g_22 = {row.g_22},g_23 = {row.g_23},g_24 = {row.g_24},g_25 = {row.g_25}'
            )
    mysql_execute(query,conn)
    return query

In [168]:
conn = connect_mysql()
query = 'select * from lol_datas_IRON'
result = sql_execute_dict(conn,query)
conn.close()

In [169]:
result_df1 = pd.DataFrame(result)

In [170]:
result_df1.describe()

,gameDuration,allInPings,assistMePings,baitPings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,holdPings,...,g_11,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20
count,7788.000000,7788.000000,7788.000000,7788.000000,7788.0,7788.000000,7788.0,7788.000000,7788.000000,7788.000000,...,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000
mean,1652.003852,0.261171,2.227144,0.016307,0.0,4.455701,0.0,4.455829,2.363508,0.023754,...,4429.048023,4869.560734,5315.529661,5812.891243,6281.730226,6713.345788,6386.220596,6183.196970,5975.129045,6022.379944
std,479.204406,1.443192,4.127684,0.189939,0.0,7.001492,0.0,6.227193,4.680218,0.213397,...,2706.591258,2877.335278,3165.116727,3494.977714,3767.615257,3879.022738,3945.932459,3808.740961,3528.423069,3556.380758
min,901.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,1623.000000,1745.000000,1867.000000,1990.000000,2112.000000,2141.000000,0.000000,0.000000,0.000000,0.000000
25%,1267.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,3086.000000,3407.000000,3719.750000,4051.000000,4377.000000,4715.000000,4800.750000,4907.250000,4956.750000,5055.500000
50%,1648.000000,0.000000,0.000000,0.000000,0.0,2.000000,0.0,2.000000,0.000000,0.000000,...,3607.000000,3988.000000,4354.000000,4761.500000,5160.500000,5578.500000,5802.500000,6065.000000,6297.000000,6601.000000
75%,1972.000000,0.000000,3.000000,0.000000,0.0,6.000000,0.0,6.000000,3.000000,0.000000,...,4267.000000,4743.250000,5212.000000,5722.000000,6201.000000,6707.250000,6988.500000,7270.750000,7566.500000,7907.250000
max,3101.000000,97.000000,50.000000,7.000000,0.0,88.000000,0.0,163.000000,61.000000,7.000000,...,16930.000000,20695.000000,21395.000000,22180.000000,25190.000000,25890.000000,25157.000000,25885.000000,27200.000000,27200.000000

In [171]:
result_df_IRON = result_df1.dropna()

In [172]:
result_df_IRON

,gameId,gameDuration,allInPings,assistMePings,baitPings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,...,g_11,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20
0,KR_6841974869,1861,0,0,0,0,5,0,9,2,...,4128,4683,5284,5637,5991,6218,7330,7740,7925,8593
1,KR_6841974869,1861,0,1,0,0,3,0,11,3,...,3318,3618,3745,4083,4290,4721,4913,5306,5973,6229
2,KR_6841974869,1861,1,2,0,0,3,0,17,10,...,3195,3562,3727,3979,4333,4961,5133,5404,5617,6839
3,KR_6841974869,1861,0,2,0,0,2,0,8,4,...,4165,4350,4724,5047,5295,5492,5665,6213,6434,6917
4,KR_6841974869,1861,0,2,0,0,11,0,0,6,...,3213,3538,3863,4080,4384,4688,4888,5295,5714,6066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7783,KR_6866314283,1744,0,1,0,0,13,0,4,0,...,3987,4323,4754,5056,5409,5767,6365,6885,7050,7489
7784,KR_6866314283,1744,0,0,0,0,1,0,6,4,...,3923,4364,4862,5199,5669,5991,6318,7042,7248,7598
7785,KR_6866314283,1744,0,11,0,0,0,0,1,1,...,3773,4049,4260,4569,5095,5439,5561,5984,6285,6672
7786,KR_6866314283,1744,0,0,0,0,4,0,0,3,...,4194,4701,4957,5412,5807,6220,6758,7512,8199,8754
7787,KR_6866314283,1744,1,3,0,0,4,0,0,1,...,2652,2872,3088,3445,3600,3919,4445,4810,5116,5284

In [27]:
df3

,gameId,gameDuration,gameVersion,summonerName,summonerLevel,participantId,championName,champExperience,teamPosition,teamId,...,g_16,g_17,g_18,g_19,g_20,g_21,g_22,g_23,g_24,g_25
0,KR_6863636982,1607,13.24.547.9214,샤프 심 없음,68,1,Sett,9716,TOP,100,...,5205,6118,6410,6533,6840,6963,7110,7232,7365,7638
1,KR_6863636982,1607,13.24.547.9214,플레이스트,214,2,Viego,12301,JUNGLE,100,...,6845,7336,7856,8147,8699,8821,9486,9862,10069,10765
2,KR_6863636982,1607,13.24.547.9214,혜지들싹다두I져,216,3,Sylas,11876,MIDDLE,100,...,6951,7322,7647,7863,8675,8798,8980,9117,9558,10476
3,KR_6863636982,1607,13.24.547.9214,휴대폰도둑,407,4,Ezreal,11857,BOTTOM,100,...,6128,6651,7495,7617,8016,8888,9140,9653,10075,10318
4,KR_6863636982,1607,13.24.547.9214,츄빠삐무야호,61,5,Lux,9334,UTILITY,100,...,5541,6255,6395,6599,6760,6901,7124,7264,7494,7798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,KR_6880547509,1899,13.24.547.9214,아삭한 아이디,248,6,Jax,16523,TOP,200,...,6096,6303,7441,7696,8572,9240,9420,9862,10138,11303
328,KR_6880547509,1899,13.24.547.9214,blanc doux oligo,47,7,JarvanIV,11631,JUNGLE,200,...,5825,6062,6205,6647,7145,7392,7875,8072,8567,8977
329,KR_6880547509,1899,13.24.547.9214,Pingeon,205,8,Yasuo,11915,MIDDLE,200,...,4665,4949,5416,5559,5817,5974,6098,6263,6811,7052
330,KR_6880547509,1899,13.24.547.9214,Nostradamus그랩,262,9,Ashe,15345,BOTTOM,200,...,6406,6953,8607,9550,10157,10856,10979,11381,11828,12334
331,KR_6880547509,1899,13.24.547.9214,스마트생명과학,103,10,Pyke,9291,UTILITY,200,...,4729,5333,5734,5875,6115,6331,6581,6797,7237,7518

In [7]:
df['matches'][0]['info']['participants'][0]['summonerName'] # summonerName

'갓청하 사랑해'

In [65]:
df['matches'][0]['info']['participants'][0]

{'allInPings': 0,
 'assistMePings': 2,
 'assists': 5,
 'baitPings': 0,
 'baronKills': 0,
 'basicPings': 0,
 'bountyLevel': 0,
 'challenges': {'12AssistStreakCount': 0,
  'abilityUses': 126,
  'acesBefore15Minutes': 0,
  'alliedJungleMonsterKills': 0,
  'baronTakedowns': 0,
  'blastConeOppositeOpponentCount': 0,
  'bountyGold': 0,
  'buffsStolen': 0,
  'completeSupportQuestInTime': 0,
  'controlWardsPlaced': 0,
  'damagePerMinute': 492.2124842579482,
  'damageTakenOnTeamPercentage': 0.24028827662812277,
  'dancedWithRiftHerald': 0,
  'deathsByEnemyChamps': 10,
  'dodgeSkillShotsSmallWindow': 0,
  'doubleAces': 0,
  'dragonTakedowns': 0,
  'earlyLaningPhaseGoldExpAdvantage': 0,
  'effectiveHealAndShielding': 0,
  'elderDragonKillsWithOpposingSoul': 0,
  'elderDragonMultikills': 0,
  'enemyChampionImmobilizations': 58,
  'enemyJungleMonsterKills': 0,
  'epicMonsterKillsNearEnemyJungler': 0,
  'epicMonsterKillsWithin30SecondsOfSpawn': 0,
  'epicMonsterSteals': 0,
  'epicMonsterStolenWithoutSmite': 0,
  'firstTurretKilled': 1,
  'firstTurretKilledTime': 736.0026114,
  'flawlessAces': 0,
  'fullTeamTakedown': 0,
  'gameLength': 1607.0723509,
  'getTakedownsInAllLanesEarlyJungleAsLaner': 0,
  'goldPerMinute': 302.67306228821576,
  'hadOpenNexus': 0,
  'immobilizeAndKillWithAlly': 4,
  'initialBuffCount': 0,
  'initialCrabCount': 0,
  'jungleCsBefore10Minutes': 0,
  'junglerTakedownsNearDamagedEpicMonster': 0,
  'kTurretsDestroyedBeforePlatesFall': 0,
  'kda': 0.5,
  'killAfterHiddenWithAlly': 0,
  'killParticipation': 0.19230769230769232,
  'killedChampTookFullTeamDamageSurvived': 0,
  'killingSprees': 0,
  'killsNearEnemyTurret': 0,
  'killsOnOtherLanesEarlyJungleAsLaner': 0,
  'killsOnRecentlyHealedByAramPack': 0,
  'killsUnderOwnTurret': 0,
  'killsWithHelpFromEpicMonster': 1,
  'knockEnemyIntoTeamAndKill': 4,
  'landSkillShotsEarlyGame': 0,
  'laneMinionsFirst10Minutes': 55,
  'laningPhaseGoldExpAdvantage': 0,
  'legendaryCount': 0,
  'lostAnInhibitor': 0,
  'maxCsAdvantageOnLaneOpponent': 3,
  'maxKillDeficit': 0,
  'maxLevelLeadLaneOpponent': 1,
  'mejaisFullStackInTime': 0,
  'moreEnemyJungleThanOpponent': 0,
  'multiKillOneSpell': 0,
  'multiTurretRiftHeraldCount': 0,
  'multikills': 0,
  'multikillsAfterAggressiveFlash': 0,
  'mythicItemUsed': 6631,
  'outerTurretExecutesBefore10Minutes': 0,
  'outnumberedKills': 0,
  'outnumberedNexusKill': 0,
  'perfectDragonSoulsTaken': 0,
  'perfectGame': 0,
  'pickKillWithAlly': 5,
  'playedChampSelectPosition': 1,
  'poroExplosions': 0,
  'quickCleanse': 0,
  'quickFirstTurret': 0,
  'quickSoloKills': 0,
  'riftHeraldTakedowns': 0,
  'saveAllyFromDeath': 0,
  'scuttleCrabKills': 0,
  'skillshotsDodged': 2,
  'skillshotsHit': 0,
  'snowballsHit': 0,
  'soloBaronKills': 0,
  'soloKills': 0,
  'soloTurretsLategame': 2,
  'stealthWardsPlaced': 6,
  'survivedSingleDigitHpCount': 0,
  'survivedThreeImmobilizesInFight': 2,
  'takedownOnFirstTurret': 0,
  'takedowns': 5,
  'takedownsAfterGainingLevelAdvantage': 0,
  'takedownsBeforeJungleMinionSpawn': 0,
  'takedownsFirstXMinutes': 2,
  'takedownsInAlcove': 0,
  'takedownsInEnemyFountain': 0,
  'teamBaronKills': 0,
  'teamDamagePercentage': 0.15056146660758155,
  'teamElderDragonKills': 0,
  'teamRiftHeraldKills': 2,
  'tookLargeDamageSurvived': 0,
  'turretPlatesTaken': 2,
  'turretTakedowns': 2,
  'turretsTakenWithRiftHerald': 10,
  'twentyMinionsIn3SecondsCount': 0,
  'twoWardsOneSweeperCount': 0,
  'unseenRecalls': 0,
  'visionScoreAdvantageLaneOpponent': -0.14037972688674927,
  'visionScorePerMinute': 0.38998975514295975,
  'wardTakedowns': 1,
  'wardTakedownsBefore20M': 0,
  'wardsGuarded': 0},
 'champExperience': 9716,
 'champLevel': 12,
 'championId': 875,
 'championName': 'Sett',
 'championTransform': 0,
 'commandPings': 9,
 'consumablesPurchased': 1,
 'damageDealtToBuildings': 6594,
 'damageDealtToObjectives': 6594,
 'damageDealtToTurrets': 6594,
 'damageSelfMitigated': 23252,
 'dangerPings': 0,
 'deaths': 10,
 'detectorWardsPlaced': 0,
 'doubleKills': 0,
 'dragonKills': 0,
 'eligibleForProgression': True,
 'enemyMissingPings': 3,
 'enemyVisionPings': 1,
 'firstBloodAssist': False,
 'firstBloodKill': False,
 'firstTowerAssist': False,
 'firstTowerKill': False,
 'gameEndedInEarlySurrender': False,
 'gameEndedInSurrender': False,
 'getBackPings': 3,
 'goldEarned': 8106,
 'goldSpent': 7820,
 'holdPings': 0,
 'individualPosition': 'TOP',
 'inhibitorKills': 0,
 'inhibitorTakedowns': 0,
 'inhibitorsLost': 2,
 'item0': 6631,
 'item1': 3047,
 'item2': 3133,
 'item3': 1054,
 'item4': 3067,
 'item5': 0,
 'item6': 3340,
 'itemsPurchased': 14,
 'killingSprees': 0,
 'kills': 0,
 'lane': 'TOP',
 'largestCriticalStrike': 0,
 'largestKillingSpree': 0,
 'largestMultiKill': 0,
 'longestTimeSpentLiving': 290,
 'magicDamageDealt': 0,
 'magicDamageDealtToChampions': 0,
 'magicDamageTaken': 7769,
 'missions': {'playerScore0': 0,
  'playerScore1': 0,
  'playerScore10': 0,
  'playerScore11': 0,
  'playerScore2': 0,
  'playerScore3': 0,
  'playerScore4': 0,
  'playerScore5': 0,
  'playerScore6': 0,
  'playerScore7': 0,
  'playerScore8': 0,
  'playerScore9': 0},
 'needVisionPings': 0,
 'neutralMinionsKilled': 0,
 'nexusKills': 0,
 'nexusLost': 1,
 'nexusTakedowns': 0,
 'objectivesStolen': 0,
 'objectivesStolenAssists': 0,
 'onMyWayPings': 0,
 'participantId': 1,
 'pentaKills': 0,
 'perks': {'statPerks': {'defense': 5002, 'flex': 5008, 'offense': 5005},
  'styles': [{'description': 'primaryStyle',
    'selections': [{'perk': 8010, 'var1': 131, 'var2': 0, 'var3': 0},
     {'perk': 9111, 'var1': 341, 'var2': 100, 'var3': 0},
     {'perk': 9104, 'var1': 0, 'var2': 0, 'var3': 0},
     {'perk': 8299, 'var1': 388, 'var2': 0, 'var3': 0}],
    'style': 8000},
   {'description': 'subStyle',
    'selections': [{'perk': 8242, 'var1': 96, 'var2': 0, 'var3': 0},
     {'perk': 8444, 'var1': 965, 'var2': 0, 'var3': 0}],
    'style': 8400}]},
 'physicalDamageDealt': 73331,
 'physicalDamageDealtToChampions': 11354,
 'physicalDamageTaken': 19677,
 'placement': 0,
 'playerAugment1': 0,
 'playerAugment2': 0,
 'playerAugment3': 0,
 'playerAugment4': 0,
 'playerScore0': 0,
 'playerScore1': 0,
 'playerScore10': 0,
 'playerScore11': 0,
 'playerScore2': 0,
 'playerScore3': 0,
 'playerScore4': 0,
 'playerScore5': 0,
 'playerScore6': 0,
 'playerScore7': 0,
 'playerScore8': 0,
 'playerScore9': 0,
 'playerSubteamId': 0,
 'profileIcon': 5528,
 'pushPings': 0,
 'puuid': '4o7X9dQ13iCjMoaUoFgISUL7xCA_5tjLseFAnEvNdZbjbtIFVnLAZPmzYa_U6DOQ8n_apXW_5jRXgQ',
 'quadraKills': 0,
 'riotIdGameName': '샤프 심 없음',
 'riotIdTagline': 'KR1',
 'role': 'SOLO',
 'sightWardsBoughtInGame': 0,
 'spell1Casts': 64,
 'spell2Casts': 23,
 'spell3Casts': 34,
 'spell4Casts': 5,
 'subteamPlacement': 0,
 'summoner1Casts': 4,
 'summoner1Id': 12,
 'summoner2Casts': 4,
 'summoner2Id': 4,
 'summonerId': 'rdKkovX5244kId0OGC9CHXSkjJ9KIOmHX2Ee89V7zMPEaJvE',
 'summonerLevel': 68,
 'summonerName': '샤프 심 없음',
 'teamEarlySurrendered': False,
 'teamId': 100,
 'teamPosition': 'TOP',
 'timeCCingOthers': 21,
 'timePlayed': 1607,
 'totalAllyJungleMinionsKilled': 0,
 'totalDamageDealt': 88540,
 'totalDamageDealtToChampions': 13183,
 'totalDamageShieldedOnTeammates': 0,
 'totalDamageTaken': 29284,
 'totalEnemyJungleMinionsKilled': 0,
 'totalHeal': 1646,
 'totalHealsOnTeammates': 0,
 'totalMinionsKilled': 117,
 'totalTimeCCDealt': 185,
 'totalTimeSpentDead': 280,
 'totalUnitsHealed': 1,
 'tripleKills': 0,
 'trueDamageDealt': 15208,
 'trueDamageDealtToChampions': 1829,
 'trueDamageTaken': 1837,
 'turretKills': 2,
 'turretTakedowns': 2,
 'turretsLost': 10,
 'unrealKills': 0,
 'visionClearedPings': 0,
 'visionScore': 10,
 'visionWardsBoughtInGame': 0,
 'wardsKilled': 1,
 'wardsPlaced': 6,
 'win': False}

In [60]:
df['matches'][0]['info']['participants'][0]['allInPings'] # allInPings

0

In [62]:
df['matches'][0]['info']['participants'][0]['assistMePings'] # assistMePings

2

In [63]:
df['matches'][0]['info']['participants'][0]['baitPings'] # baitPings

0

In [66]:
df['matches'][0]['info']['participants'][0]['basicPings'] # basicPings

0

In [67]:
df.iloc[0].matches['info']['participants'][0]['commandPings'] #commandPings

9

In [68]:
df.iloc[0].matches['info']['participants'][0]['dangerPings'] #dangerPings

0

In [69]:
df.iloc[0].matches['info']['participants'][0]['enemyMissingPings'] #enemyMissingPings

3

In [70]:
df.iloc[0].matches['info']['participants'][0]['enemyVisionPings'] #enemyVisionPings

1

In [71]:
df.iloc[0].matches['info']['participants'][0]['getBackPings'] # getBackPings

3

In [72]:
df.iloc[0].matches['info']['participants'][0]['holdPings'] # holdPings

0

In [73]:
df.iloc[0].matches['info']['participants'][0]['needVisionPings'] #needVisionPings

0

In [74]:
df.iloc[0].matches['info']['participants'][0]['onMyWayPings'] #onMyWayPings

0

In [75]:
df.iloc[0].matches['info']['participants'][0]['pushPings'] #pushPings

0

In [76]:
df.iloc[0].matches['info']['participants'][0]['visionClearedPings'] #visionClearedPings

0

In [4]:
df3 = get_match_timeline_df(df)

소환사 스텟 생성중.....

  8%|██████▉                                                                            | 3/36 [00:00<00:01, 27.73it/s]

list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range

 53%|███████████████████████████████████████████▎                                      | 19/36 [00:00<00:00, 28.74it/s]

list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range

 81%|██████████████████████████████████████████████████████████████████                | 29/36 [00:01<00:00, 27.51it/s]

list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
24
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
30

100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [00:01<00:00, 29.89it/s]

df 제작이 완료되었습니다. 현재 df의 수는 346 입니다

In [5]:
df3

,gameId,gameDuration,summonerName,summonerLevel,participantId,championName,champExperience,allInPings,assistMePings,baitPings,...,g_11,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20
0,KR_6694267493,2542,163Cm45Kg70C,507,1,Yone,19369,1,9,0,...,2948,3225,3473,3765,4033,4738,4895,5187,5310,5674
1,KR_6694267493,2542,시니루,321,2,Kayn,22205,1,8,0,...,4495,5237,5675,6012,6388,7071,7292,7926,8048,8697
2,KR_6694267493,2542,축구박사,297,3,Ziggs,16882,0,6,0,...,2861,3060,3315,3530,3807,4326,4532,4772,5000,5192
3,KR_6694267493,2542,케이맞은케이틀린,41,4,Ashe,15925,0,0,0,...,3442,3835,4041,4440,5290,5412,5534,5657,5842,6186
4,KR_6694267493,2542,다이기진못하겠다,117,5,Xerath,16821,1,1,0,...,2661,2961,3151,3579,4144,4778,4953,5177,5512,5793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,KR_6871031309,2073,검바씌,113,6,Kennen,16452,0,15,0,...,3343,3775,4225,4383,4750,5884,6091,6410,6624,6781
342,KR_6871031309,2073,강고양OIOI상하다,274,7,Viego,16304,1,9,0,...,3350,3759,3976,4182,4718,4957,5300,5740,5863,6050
343,KR_6871031309,2073,마달E,142,8,Kayle,18111,0,2,0,...,3115,3449,3761,4057,4411,4775,5009,5483,5678,6001
344,KR_6871031309,2073,수딕님,400,9,Yasuo,17365,0,0,0,...,3729,4139,4464,4650,5031,5288,5858,6205,6327,7007
345,KR_6871031309,2073,홍형님,220,10,Malphite,11400,0,0,0,...,2380,2635,2834,2974,3214,3425,3720,3994,4156,4446

In [54]:
df2.describe()

,gameDuration,summonerLevel,participantId,champExperience,teamId,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken,...,g_16,g_17,g_18,g_19,g_20,g_21,g_22,g_23,g_24,g_25
count,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,...,338.0,338.0,338.0,338.0,338.0,338.0,338.0,338.0,338.0,338.0
mean,1645.816568,187.121302,5.357988,13258.079882,150.000000,6.073964,6.118343,6.914201,20847.730769,25823.766272,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,480.542024,134.444456,2.823010,4568.465626,50.074129,4.764218,3.168496,4.889434,12747.183871,13339.583523,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,914.000000,30.000000,1.000000,3105.000000,100.000000,0.000000,0.000000,0.000000,2110.000000,3785.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,1254.000000,92.000000,3.000000,9919.000000,100.000000,2.000000,4.000000,3.000000,10451.250000,16108.250000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,1689.000000,152.000000,5.000000,13185.000000,150.000000,5.000000,6.000000,6.000000,18402.500000,24853.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,2039.000000,246.750000,8.000000,16616.750000,200.000000,8.000000,8.000000,10.000000,29184.000000,31945.750000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,2921.000000,869.000000,10.000000,28914.000000,200.000000,28.000000,16.000000,29.000000,60895.000000,95455.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
result_df_IRON

,gameId,gameDuration,allInPings,assistMePings,baitPings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,...,g_11,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20
0,KR_6841974869,1861,0,0,0,0,5,0,9,2,...,4128,4683,5284,5637,5991,6218,7330,7740,7925,8593
1,KR_6841974869,1861,0,1,0,0,3,0,11,3,...,3318,3618,3745,4083,4290,4721,4913,5306,5973,6229
2,KR_6841974869,1861,1,2,0,0,3,0,17,10,...,3195,3562,3727,3979,4333,4961,5133,5404,5617,6839
3,KR_6841974869,1861,0,2,0,0,2,0,8,4,...,4165,4350,4724,5047,5295,5492,5665,6213,6434,6917
4,KR_6841974869,1861,0,2,0,0,11,0,0,6,...,3213,3538,3863,4080,4384,4688,4888,5295,5714,6066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7783,KR_6866314283,1744,0,1,0,0,13,0,4,0,...,3987,4323,4754,5056,5409,5767,6365,6885,7050,7489
7784,KR_6866314283,1744,0,0,0,0,1,0,6,4,...,3923,4364,4862,5199,5669,5991,6318,7042,7248,7598
7785,KR_6866314283,1744,0,11,0,0,0,0,1,1,...,3773,4049,4260,4569,5095,5439,5561,5984,6285,6672
7786,KR_6866314283,1744,0,0,0,0,4,0,0,3,...,4194,4701,4957,5412,5807,6220,6758,7512,8199,8754
7787,KR_6866314283,1744,1,3,0,0,4,0,0,1,...,2652,2872,3088,3445,3600,3919,4445,4810,5116,5284

In [177]:
import pandas as pd

# 예시 데이터프레임 생성
data = {'Column1': [1, 2, 3],
        'Column2': [4, 5, 6],
        'Column3': [7, 8, 9]}
df = pd.DataFrame(data)

# 선택한 열들의 값을 합하여 새로운 열 생성
selected_columns = ['allInPings', 'assistMePings','commandPings','basicPings','dangerPings','getBackPings','onMyWayPings','needVisionPings','enemyMissingPings','pushPings']
result_df_IRON['Sum_Selected'] = result_df_IRON[selected_columns].sum(axis=1)

# 결과 출력
result_df_IRON

,gameId,gameDuration,allInPings,assistMePings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,needVisionPings,...,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20,Sum_Selected
0,KR_6841974869,1861,0,0,0,5,0,9,2,0,...,4683,5284,5637,5991,6218,7330,7740,7925,8593,21
1,KR_6841974869,1861,0,1,0,3,0,11,3,0,...,3618,3745,4083,4290,4721,4913,5306,5973,6229,46
2,KR_6841974869,1861,1,2,0,3,0,17,10,0,...,3562,3727,3979,4333,4961,5133,5404,5617,6839,33
3,KR_6841974869,1861,0,2,0,2,0,8,4,0,...,4350,4724,5047,5295,5492,5665,6213,6434,6917,20
4,KR_6841974869,1861,0,2,0,11,0,0,6,0,...,3538,3863,4080,4384,4688,4888,5295,5714,6066,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7783,KR_6866314283,1744,0,1,0,13,0,4,0,0,...,4323,4754,5056,5409,5767,6365,6885,7050,7489,20
7784,KR_6866314283,1744,0,0,0,1,0,6,4,0,...,4364,4862,5199,5669,5991,6318,7042,7248,7598,16
7785,KR_6866314283,1744,0,11,0,0,0,1,1,0,...,4049,4260,4569,5095,5439,5561,5984,6285,6672,13
7786,KR_6866314283,1744,0,0,0,4,0,0,3,0,...,4701,4957,5412,5807,6220,6758,7512,8199,8754,15
7787,KR_6866314283,1744,1,3,0,4,0,0,1,0,...,2872,3088,3445,3600,3919,4445,4810,5116,5284,13

In [173]:
result_df_IRON = result_df_IRON[result_df_IRON.teamPosition != ""]

result_df_IRON = result_df_IRON.drop(columns=['visionClearedPings','holdPings','baitPings'],axis=1)

In [130]:
result_df_DIAMOND = result_df_DIAMOND.drop(columns=['visionClearedPings','holdPings','baitPings'],axis=1)

In [131]:
result_df_DIAMOND

,gameId,gameDuration,allInPings,assistMePings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,needVisionPings,...,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20,Sum_Selected
0,KR_6883007468,1758,0,2,0,19,0,4,0,0,...,5324,5923,6348,6518,7508,7801,8059,8853,8975,29
1,KR_6883007468,1758,0,1,0,6,0,0,2,0,...,4136,5078,5424,5822,6769,7186,7508,8634,9525,16
2,KR_6883007468,1758,0,14,0,15,0,3,12,0,...,3857,4735,4857,5463,5756,6158,6531,7197,7652,50
3,KR_6883007468,1758,0,0,0,2,0,0,3,0,...,3700,4068,4487,4609,5069,5373,5544,6474,6832,7
4,KR_6883007468,1758,1,2,0,38,0,3,6,0,...,2742,3043,3223,3429,3813,3993,4168,4829,5019,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8185,KR_6883114038,1654,0,2,0,8,0,8,8,0,...,3418,3701,4521,4919,5052,5204,5720,6119,6564,33
8186,KR_6883114038,1654,1,15,0,19,0,5,18,0,...,3417,3684,4007,4299,4600,4781,5132,5464,5966,85
8187,KR_6883114038,1654,0,0,0,10,0,0,0,0,...,3750,4111,4608,5015,5158,5543,5799,6241,6680,10
8188,KR_6883114038,1654,0,7,0,5,0,1,0,0,...,6315,6931,7906,8581,8939,9492,10207,10677,11558,22
8189,KR_6883114038,1654,0,2,0,6,0,3,5,0,...,3965,4418,4830,5035,5297,5647,6071,6246,6703,18

In [133]:
result_df_DIAMOND = result_df_DIAMOND[result_df_DIAMOND.teamPosition != ""]

In [134]:
result_df_DIAMOND

,gameId,gameDuration,allInPings,assistMePings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,needVisionPings,...,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20,Sum_Selected
0,KR_6883007468,1758,0,2,0,19,0,4,0,0,...,5324,5923,6348,6518,7508,7801,8059,8853,8975,29
1,KR_6883007468,1758,0,1,0,6,0,0,2,0,...,4136,5078,5424,5822,6769,7186,7508,8634,9525,16
2,KR_6883007468,1758,0,14,0,15,0,3,12,0,...,3857,4735,4857,5463,5756,6158,6531,7197,7652,50
3,KR_6883007468,1758,0,0,0,2,0,0,3,0,...,3700,4068,4487,4609,5069,5373,5544,6474,6832,7
4,KR_6883007468,1758,1,2,0,38,0,3,6,0,...,2742,3043,3223,3429,3813,3993,4168,4829,5019,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8185,KR_6883114038,1654,0,2,0,8,0,8,8,0,...,3418,3701,4521,4919,5052,5204,5720,6119,6564,33
8186,KR_6883114038,1654,1,15,0,19,0,5,18,0,...,3417,3684,4007,4299,4600,4781,5132,5464,5966,85
8187,KR_6883114038,1654,0,0,0,10,0,0,0,0,...,3750,4111,4608,5015,5158,5543,5799,6241,6680,10
8188,KR_6883114038,1654,0,7,0,5,0,1,0,0,...,6315,6931,7906,8581,8939,9492,10207,10677,11558,22
8189,KR_6883114038,1654,0,2,0,6,0,3,5,0,...,3965,4418,4830,5035,5297,5647,6071,6246,6703,18

In [135]:
result_df_DIAMOND['tier'] = 'DIAMOND'

C:\Users\song5\AppData\Local\Temp\ipykernel_12364\381534649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df_DIAMOND['tier'] = 'DIAMOND'

In [122]:
result_df_EMERALD

,gameId,gameDuration,allInPings,assistMePings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,needVisionPings,...,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20,Sum_Selected,tier
0,KR_6791897136,1708,0,0,0,0,0,1,1,0,...,3599,3994,4242,4499,5093,5439,5848,6117,3,EMERALD
1,KR_6791897136,1708,1,5,0,25,0,6,3,1,...,5634,5946,6073,6246,6537,6908,7589,7955,79,EMERALD
2,KR_6791897136,1708,0,0,0,9,0,6,5,0,...,5233,5570,6481,6951,7339,7812,7934,8353,22,EMERALD
3,KR_6791897136,1708,0,7,0,10,0,7,2,0,...,5373,5757,6118,6915,7435,8138,9715,10032,41,EMERALD
4,KR_6791897136,1708,0,2,0,11,0,3,7,0,...,3494,3758,3928,4118,4467,4813,5218,5358,29,EMERALD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8497,KR_6853534431,1844,0,0,0,7,0,3,2,0,...,4994,5275,5495,5733,6134,6482,6856,7322,16,EMERALD
8498,KR_6853534431,1844,0,0,0,2,0,5,0,0,...,6335,6905,7172,8193,8544,9181,9907,10407,7,EMERALD
8499,KR_6853534431,1844,0,0,0,14,0,8,3,0,...,4530,4818,5108,5622,5807,6427,6654,7356,30,EMERALD
8500,KR_6853534431,1844,0,0,0,2,0,0,5,0,...,5143,5503,5681,6042,6579,7001,7391,7768,7,EMERALD
8501,KR_6853534431,1844,0,0,0,6,0,4,0,0,...,3013,3193,3343,3939,4099,4320,5169,5379,13,EMERALD

In [59]:
result_df_BRONZE

,gameId,gameDuration,allInPings,assistMePings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,needVisionPings,...,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20,Sum_Selected,tier
0,KR_6692328762,1326,0,2,0,2,0,2,0,0,...,3946,4167,4303,4757,5165,5287,5431,5721,7,BRONZE
1,KR_6692328762,1326,0,2,0,1,0,4,0,0,...,4756,4879,5111,5962,6213,6336,6562,7084,7,BRONZE
2,KR_6692328762,1326,0,1,0,5,0,1,0,0,...,3782,3910,4415,4680,5086,5208,5652,5941,8,BRONZE
3,KR_6692328762,1326,0,0,0,0,0,8,0,0,...,5295,5809,6044,6912,7056,7269,7391,7598,8,BRONZE
4,KR_6692328762,1326,0,0,0,6,0,6,0,0,...,3973,4487,4763,5347,5501,5647,5857,5998,12,BRONZE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8257,KR_6754980551,2078,0,5,0,29,0,10,0,0,...,3176,3690,4132,4425,4598,5145,5477,5632,55,BRONZE
8258,KR_6754980551,2078,0,2,0,0,0,1,1,0,...,4785,5120,5687,5855,6506,6809,7342,7949,4,BRONZE
8259,KR_6754980551,2078,0,0,0,0,0,0,0,0,...,6077,6663,7129,7454,7892,8443,8875,9712,1,BRONZE
8260,KR_6754980551,2078,0,1,0,4,0,0,2,0,...,6791,7274,7829,8234,8696,8901,9107,9610,37,BRONZE
8261,KR_6754980551,2078,0,1,0,40,0,6,0,0,...,5507,5799,5979,6274,6635,7333,7537,7990,64,BRONZE

In [194]:
import pandas as pd

# 예시 데이터프레임 생성
data = {'win': [True, False, True],
        'numbers': [10, 20, 30]}
df = pd.DataFrame(data)

# 'win'이 True인 행의 'numbers' 값 합계
sum_true = result_df_DIAMOND.loc[result_df_DIAMOND['win'] == 'True', 'Sum_Selected'].sum()

# 'win'이 False인 행의 'numbers' 값 합계
sum_false = result_df_DIAMOND.loc[result_df_DIAMOND['win'] == 'False', 'Sum_Selected'].sum()

# 결과 출력
print("Sum for True: ", sum_true)
print("Sum for False: ", sum_false)

# 합계를 비교
if sum_true > sum_false:
    print("True has a higher sum.")
elif sum_true < sum_false:
    print("False has a higher sum.")
else:
    print("Sums are equal.")

Sum for True:  116391
Sum for False:  101777
True has a higher sum.

In [152]:
sum_true

76723

In [150]:
selected_rows = result_df[(result_df['g_2'] >= 900) & (result_df['win'] == 'True')]

# 전체 판수
total_games = len(result_df[result_df['g_2'] >= 900])

print(total_games)

# 조건에 해당하는 판수
selected_games = len(selected_rows)

print(selected_games)

# 승률 계산
win_rate = selected_games / total_games * 100

225
121

In [151]:
iron_issue_win = round(win_rate, 1)
# bro_issue_win = round(win_rate, 1)
# sil_issue_win = round(win_rate, 1)
# gold_issue_win = round(win_rate, 1)
# pla_issue_win = round(win_rate, 1)
# eme_issue_win = round(win_rate, 1)
# dia_issue_win = round(win_rate, 1)

In [ ]:
selected_rows2 = result_df[(result['g_2'] < 900) & (result['win'] == 'True')]

# 전체 판수
total_games2 = len(result[result['g_2'] < 900])

print(total_games2)

# 조건에 해당하는 판수
selected_games2 = len(selected_rows2)

print(selected_games2)

# 승률 계산
win_rate2 = selected_games2 / total_games2 * 100

In [ ]:
# iron_no_issue_win = round(win_rate2, 1)
# bro_no_issue_win = round(win_rate2, 1)
# sil_no_issue_win = round(win_rate2, 1)
# gold_no_issue_win = round(win_rate2, 1)
# pla_no_issue_win = round(win_rate2, 1)
# eme_no_issue_win = round(win_rate2, 1)
dia_no_issue_win = round(win_rate2, 1)

In [164]:
tiers = ['IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'EMERALD', 'DIAMOND']

result_df = pd.DataFrame(index=tiers, columns=['이긴 팀의 총 핑 횟수', '진 팀의 총 핑 횟수'])

In [195]:
result_df.loc['DIAMOND', '이긴 팀의 총 핑 횟수'] = sum_true
result_df.loc['DIAMOND', '진 팀의 총 핑 횟수'] = sum_false

In [181]:
result_df_SILVER

,gameId,gameDuration,allInPings,assistMePings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,needVisionPings,...,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20,Sum_Selected,tier
0,KR_6824522820,1839,0,3,0,10,0,9,0,0,...,4898,5209,5352,5580,5981,6109,6510,6956,24,SILVER
1,KR_6824522820,1839,0,3,0,7,0,4,3,0,...,4985,5188,5624,6095,6438,6960,7215,7922,32,SILVER
2,KR_6824522820,1839,0,13,0,5,0,16,7,0,...,4180,4524,5070,5378,5744,5887,6147,6379,45,SILVER
3,KR_6824522820,1839,0,4,0,16,0,9,15,0,...,5473,5781,6972,7286,8353,8734,8940,9341,49,SILVER
4,KR_6824522820,1839,0,0,0,0,0,1,6,0,...,3559,4000,4190,4330,4537,4712,4972,5177,11,SILVER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8091,KR_6686770771,1588,0,0,0,0,0,9,0,0,...,4985,5291,5539,5928,6099,6529,7001,7430,14,SILVER
8092,KR_6686770771,1588,0,0,0,6,0,14,5,0,...,4537,4960,5378,5619,5742,5914,6291,6414,29,SILVER
8093,KR_6686770771,1588,2,1,0,12,0,8,0,0,...,7640,8613,9224,9451,9744,10112,10808,11572,45,SILVER
8094,KR_6686770771,1588,0,0,0,1,0,14,4,0,...,3430,4222,4529,4894,5362,5620,5881,6154,19,SILVER
8095,KR_6686770771,1588,0,0,0,1,0,0,0,0,...,3340,3598,3816,3956,4223,4504,4835,5032,1,SILVER

In [136]:
result_final = pd.merge(result_final,result_df_DIAMOND, how = 'outer')

In [137]:
result_final

,gameId,gameDuration,allInPings,assistMePings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,needVisionPings,...,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20,Sum_Selected,tier
0,KR_6841974869,1861,0,0,0,5,0,9,2,0,...,5284,5637,5991,6218,7330,7740,7925,8593,21,IRON
1,KR_6841974869,1861,0,1,0,3,0,11,3,0,...,3745,4083,4290,4721,4913,5306,5973,6229,46,IRON
2,KR_6841974869,1861,1,2,0,3,0,17,10,0,...,3727,3979,4333,4961,5133,5404,5617,6839,33,IRON
3,KR_6841974869,1861,0,2,0,2,0,8,4,0,...,4724,5047,5295,5492,5665,6213,6434,6917,20,IRON
4,KR_6841974869,1861,0,2,0,11,0,0,6,0,...,3863,4080,4384,4688,4888,5295,5714,6066,22,IRON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51641,KR_6883114038,1654,0,2,0,8,0,8,8,0,...,3701,4521,4919,5052,5204,5720,6119,6564,33,DIAMOND
51642,KR_6883114038,1654,1,15,0,19,0,5,18,0,...,3684,4007,4299,4600,4781,5132,5464,5966,85,DIAMOND
51643,KR_6883114038,1654,0,0,0,10,0,0,0,0,...,4111,4608,5015,5158,5543,5799,6241,6680,10,DIAMOND
51644,KR_6883114038,1654,0,7,0,5,0,1,0,0,...,6931,7906,8581,8939,9492,10207,10677,11558,22,DIAMOND
51645,KR_6883114038,1654,0,2,0,6,0,3,5,0,...,4418,4830,5035,5297,5647,6071,6246,6703,18,DIAMOND

In [196]:
result_df

         이긴 팀의 총 핑 횟수 진 팀의 총 핑 횟수
IRON            76723       71748
BRONZE          86587       79414
SILVER          92112       82894
GOLD            95747       85716
PLATINUM        95002       82432
EMERALD        112815       97429
DIAMOND        116391      101777

In [221]:
df = pd.read_csv('result_df_issue.csv')
df

   이슈있는 승률  이슈없는 승률
0     53.8     49.9
1     58.3     49.7
2     57.2     49.8
3     55.5     49.8
4     53.3     49.9
5     59.9     49.6
6     59.2     49.6